In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as pt

In [4]:
%matplotlib inline

In [7]:
SR=pd.read_csv('D:/sri/sr.csv')

In [8]:
SR

,batting_score,wickets,runs_conceded,catches,stumps,opposition,ground,date,match_result,match_result.1,result_margin,toss,batting_innings
0,0,-,-,0,0,v Pakistan,Gujranwala,18-Dec-89,NaN,0,7 runs,won,2nd
1,0,-,-,0,0,v New Zealand,Dunedin,01-Mar-90,NaN,0,108 runs,won,2nd
2,36,-,-,0,0,v New Zealand,Wellington,06-Mar-90,NaN,1,1 runs,won,1st
3,10,-,-,1,0,v Sri Lanka,Sharjah,25-Apr-90,NaN,0,3 wickets,0,1st
4,20,-,-,0,0,v Pakistan,Sharjah,27-Apr-90,NaN,0,26 runs,won,2nd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,14,-,-,0,0,v Australia,Sydney,26-Feb-12,NaN,0,87 runs,0,2nd
459,39,-,-,0,0,v Sri Lanka,Hobart,28-Feb-12,NaN,1,7 wickets,won,2nd
460,6,-,-,1,0,v Sri Lanka,Dhaka,13-Mar-12,NaN,1,50 runs,0,1st
461,114,-,-,0,0,v Bangladesh,Dhaka,16-Mar-12,NaN,0,5 wickets,0,1st
462,52,0,12,0,0,v Pakistan,Dhaka,18-Mar-12,NaN,1,6 wickets,0,2nd

In [9]:
SR.shape

(463, 13)

In [10]:
SR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   batting_score    463 non-null    int64
 1   wickets          463 non-null    object
 2   runs_conceded    463 non-null    object
 3   catches          463 non-null    object
 4   stumps           463 non-null    object
 5   opposition       463 non-null    object
 6   ground           463 non-null    object
 7   date             463 non-null    object
 8   match_result     0 non-null      float64
 9   match_result.1   463 non-null    int64
 10  result_margin    462 non-null    object
 11  toss             463 non-null    object
 12  batting_innings  463 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 47.1+ KB

In [11]:
nd=SR.drop(['wickets','runs_conceded','catches','stumps','opposition','ground','date','match_result','result_margin','toss','batting_innings'],axis=1)

In [12]:
nd

     batting_score  match_result.1
0                0               0
1                0               0
2               36               1
3               10               0
4               20               0
..             ...             ...
458             14               0
459             39               1
460              6               1
461            114               0
462             52               1

[463 rows x 2 columns]

In [13]:
x=nd.iloc[:,0].values.reshape(-1,1)
y=nd.iloc[:,1].values.reshape(-1,1)

In [14]:
x

array([[  0],
       [  0],
       [ 36],
       [ 10],
       [ 20],
       [ 19],
       [ 31],
       [ 36],
       [ 53],
       [ 30],
       [ 31],
       [  4],
       [ 53],
       [ 12],
       [ 22],
       [ 33],
       [ 49],
       [  0],
       [ 62],
       [  4],
       [  1],
       [  1],
       [ 36],
       [ 57],
       [ 48],
       [ 21],
       [ 77],
       [ 31],
       [ 33],
       [  4],
       [ 69],
       [ 35],
       [ 44],
       [ 11],
       [ 34],
       [ 81],
       [  4],
       [ 84],
       [ 14],
       [ 39],
       [ 15],
       [ 10],
       [ 22],
       [ 21],
       [ 32],
       [ 23],
       [ 21],
       [ 55],
       [  1],
       [  3],
       [ 24],
       [  5],
       [ 34],
       [  3],
       [ 44],
       [ 44],
       [ 21],
       [ 15],
       [ 25],
       [ 44],
       [  2],
       [ 24],
       [  3],
       [ 15],
       [ 44],
       [  1],
       [ 45],
       [ 52],
       [ 15],
       [ 82],
       [ 63],
       [ 40],
       [ 63],
       [ 73],
       [  6],
       [ 24],
       [ 34],
       [  6],
       [110],
       [  0],
       [  0],
       [  0],
       [  8],
       [115],
       [ 34],
       [ 62],
       [ 66],
       [ 54],
       [ 88],
       [105],
       [ 13],
       [ 37],
       [ 47],
       [ 48],
       [  4],
       [ 55],
       [ 41],
       [ 30],
       [ 39],
       [  7],
       [ 65],
       [  1],
       [ 33],
       [ 70],
       [ 90],
       [137],
       [  3],
       [ 31],
       [ 65],
       [ 28],
       [100],
       [  1],
       [  2],
       [118],
       [ 17],
       [ 57],
       [ 30],
       [  6],
       [  1],
       [110],
       [ 40],
       [  7],
       [ 33],
       [ 20],
       [  2],
       [  3],
       [ 23],
       [ 11],
       [ 88],
       [ 64],
       [ 28],
       [ 62],
       [ 67],
       [114],
       [  0],
       [  6],
       [  1],
       [ 14],
       [ 41],
       [104],
       [ 32],
       [ 45],
       [ 13],
       [ 44],
       [ 44],
       [  9],
       [  1],
       [117],
       [  2],
       [  4],
       [ 21],
       [ 44],
       [ 28],
       [ 53],
       [ 27],
       [  6],
       [ 27],
       [ 39],
       [ 17],
       [ 44],
       [ 55],
       [  0],
       [  6],
       [ 51],
       [  2],
       [ 21],
       [  7],
       [ 91],
       [  3],
       [  1],
       [ 55],
       [ 34],
       [  6],
       [ 54],
       [ 67],
       [ 95],
       [  1],
       [ 41],
       [  8],
       [  5],
       [100],
       [  1],
       [ 15],
       [ 40],
       [ 80],
       [ 38],
       [143],
       [134],
       [ 33],
       [ 18],
       [ 33],
       [ 65],
       [ 53],
       [ 17],
       [ 44],
       [128],
       [ 77],
       [ 35],
       [ 29],
       [  2],
       [141],
       [  8],
       [  3],
       [ 34],
       [ 18],
       [ 11],
       [ 34],
       [  0],
       [ 23],
       [ 45],
       [  5],
       [ 28],
       [ 34],
       [  2],
       [ 22],
       [  0],
       [ 45],
       [ 16],
       [ 14],
       [ 37],
       [120],
       [ 85],
       [ 40],
       [  0],
       [ 32],
       [ 55],
       [  1],
       [  2],
       [  0],
       [ 13],
       [ 12],
       [  1],
       [ 93],
       [ 41],
       [ 18],
       [ 17],
       [  3],
       [ 26],
       [ 21],
       [ 12],
       [122],
       [ 93],
       [  5],
       [ 11],
       [ 10],
       [ 39],
       [ 36],
       [ 93],
       [ 25],
       [ 25],
       [ 38],
       [ 39],
       [ 69],
       [101],
       [  8],
       [  4],
       [ 61],
       [  5],
       [ 44],
       [  8],
       [146],
       [ 62],
       [ 27],
       [ 35],
       [ 32],
       [139],
       [ 62],
       [ 12],
       [ 56],
       [  9],
       [ 33],
       [ 33],
       [  0],
       [101],
       [ 38],
       [ 12],
       [  3],
       [ 37],
       [146],
       [ 17],
       [ 36],
       [ 45],
       [ 68],
       [123],
       [ 18],
       [ 12],
       [ 33],
       [ 65],
       [  1],
       [ 49],
       [ 55],
       [ 19],
       [ 36],
       [113],
       [ 14],
       [  7],
       [ 34],
       [ 16],
       [ 44],
       [ 44],
       [  0],
       [  1],
       [  1],
       [ 52],
       [ 36],
       [ 81],
       [152],
       [ 50],
       [ 98],
       [  5],
       [ 97],
       [ 15],
       [ 83],
       [  4],
       [ 44],
       [100],
       [ 68],
       [ 14],
       [ 89],
       [102],
       [ 45],
       [ 63],
       [ 44],
       [ 86],
       [  5],
       [  3],
       [  8],
       [ 27],
       [ 28],
       [141],
       [  0],
       [  7],
       [ 37],
       [ 18],
       [ 11],
       [ 44],
       [ 78],
       [ 18],
       [ 74],
       [ 16],
       [ 19],
       [ 47],
       [  4],
       [  2],
       [  6],
       [123],
       [  1],
       [  9],
       [ 93],
       [ 67],
       [  2],
       [ 11],
       [ 19],
       [ 39],
       [  2],
       [  2],
       [  2],
       [ 30],
       [100],
       [ 42],
       [ 95],
       [  0],
       [ 55],
       [ 35],
       [ 12],
       [ 65],
       [  4],
       [ 35],
       [ 29],
       [ 10],
       [ 35],
       [  2],
       [  1],
       [ 55],
       [ 31],
       [  0],
       [ 60],
       [ 55],
       [ 33],
       [ 54],
       [  1],
       [  7],
       [ 55],
       [  0],
       [  4],
       [ 99],
       [ 93],
       [  8],
       [ 17],
       [ 99],
       [  8],
       [ 55],
       [ 71],
       [ 94],
       [ 30],
       [  0],
       [ 16],
       [ 43],
       [ 79],
       [ 47],
       [ 72],
       [ 21],
       [  4],
       [ 99],
       [ 29],
       [ 97],
       [ 30],
       [ 10],
       [ 35],
       [ 44],
       [ 32],
       [  5],
       [  0],
       [  2],
       [ 63],
       [ 55],
       [ 91],
       [ 11],
       [ 50],
       [  5],
       [  6],
       [  7],
       [ 20],
       [ 61],
       [ 55],
       [ 46],
       [ 27],
       [138],
       [  8],
       [ 44],
       [ 14],
       [  4],
       [ 32],
       [ 40],
       [175],
       [ 10],
       [ 69],
       [ 43],
       [ 44],
       [  8],
       [  4],
       [ 66],
       [  7],
       [ 24],
       [ 28],
       [120],
       [ 38],
       [ 27],
       [111],
       [  2],
       [ 53],
       [ 85],
       [ 18],
       [  2],
       [ 48],
       [ 15],
       [  3],
       [ 22],
       [ 14],
       [ 39],
       [  6],
       [114],
       [ 52]], dtype=int64)

In [15]:
y

array([[0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [2],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [4],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [3],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [4],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [2],
       [0],
       [0],
       [0],
       [1],
       [2],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [5],
       [1],
       [0],
       [0],
       [0],
       [2],
       [0],
       [1],
       [1],
       [4],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [3],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [3],
       [0],
       [4],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [5],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [3],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [3],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [3],
       [2],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [3],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [2],
       [0],
       [3],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [3],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [2],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [3],
       [3],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [1],
       [0],
       [1],
       [0],
       [3],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [2],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [2],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1]], dtype=int64)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,train_size=0.7,random_state=0)

In [18]:
X_test.shape

(139, 1)

In [19]:
from sklearn.linear_model import  LinearRegression

In [20]:
lm=LinearRegression()

In [22]:
lm.fit(X_train,Y_train)

LinearRegression()

In [23]:
y_prediction=lm.predict(X_test)

In [24]:
y_prediction

array([[0.87768427],
       [0.57176201],
       [0.85676651],
       [0.57176201],
       [0.7129569 ],
       [0.7129569 ],
       [0.56914729],
       [0.6737361 ],
       [0.60313865],
       [0.61882697],
       [0.57437673],
       [0.7391041 ],
       [0.77309546],
       [0.64758889],
       [0.63974473],
       [0.81754571],
       [0.80185739],
       [0.70772746],
       [0.70511274],
       [0.59006505],
       [0.57699145],
       [0.66850665],
       [0.57437673],
       [0.65020361],
       [0.56914729],
       [0.60052393],
       [0.65020361],
       [0.65543305],
       [0.58483561],
       [0.58483561],
       [0.7391041 ],
       [0.7129569 ],
       [0.58745033],
       [0.56914729],
       [0.56914729],
       [0.65281833],
       [0.63974473],
       [0.57960617],
       [0.67112138],
       [0.68419498],
       [0.7913985 ],
       [0.67112138],
       [0.89075787],
       [0.6998833 ],
       [0.68419498],
       [0.57176201],
       [0.66589193],
       [0.89075787],
       [0.78878378],
       [0.58222089],
       [0.61098281],
       [0.57699145],
       [0.70511274],
       [0.65543305],
       [0.88291371],
       [0.63190057],
       [0.65543305],
       [0.62144169],
       [0.58222089],
       [0.57176201],
       [0.60313865],
       [0.69203914],
       [0.62405641],
       [0.62405641],
       [0.57437673],
       [0.65020361],
       [0.65804777],
       [0.74433354],
       [0.7129569 ],
       [0.65543305],
       [0.64497417],
       [0.60313865],
       [0.57960617],
       [0.75740714],
       [0.83323403],
       [0.65804777],
       [0.70772746],
       [0.58745033],
       [0.57437673],
       [0.68419498],
       [0.65543305],
       [0.68942442],
       [0.68419498],
       [0.60052393],
       [0.7129569 ],
       [0.85938123],
       [0.57176201],
       [0.6868097 ],
       [0.67635082],
       [0.68419498],
       [0.68419498],
       [0.56914729],
       [0.65281833],
       [0.93782284],
       [0.57437673],
       [0.65281833],
       [0.57960617],
       [0.65281833],
       [0.6868097 ],
       [0.57699145],
       [0.65804777],
       [0.58483561],
       [0.77048074],
       [0.62928585],
       [0.7129569 ],
       [0.61621225],
       [0.62144169],
       [0.81493099],
       [0.81231627],
       [0.59529449],
       [0.66066249],
       [0.70772746],
       [0.59790921],
       [0.61882697],
       [0.58483561],
       [0.68419498],
       [0.81231627],
       [0.66327721],
       [0.81754571],
       [0.56914729],
       [0.66327721],
       [0.60836809],
       [0.61098281],
       [0.57176201],
       [0.78616906],
       [0.66066249],
       [0.62667113],
       [0.74694826],
       [0.82277515],
       [0.94305228],
       [0.68419498],
       [0.68419498],
       [0.67112138],
       [0.56914729],
       [0.66589193],
       [0.74694826],
       [0.88291371],
       [0.59529449],
       [0.58745033]])

In [25]:
COMP=pd.DataFrame(X_test,columns=['batting_score'])

In [26]:
COMP

     batting_score
0              118
1                1
2              110
3                1
4               55
..             ...
134             37
135             68
136            120
137             10
138              7

[139 rows x 1 columns]

In [27]:
COMP['match_result.1']=Y_test

In [28]:
COMP

     batting_score  match_result.1
0              118               1
1                1               2
2              110               1
3                1               0
4               55               1
..             ...             ...
134             37               1
135             68               1
136            120               1
137             10               0
138              7               0

[139 rows x 2 columns]

In [29]:
COMP['SRI']=y_prediction

In [31]:
COMP

     batting_score  match_result.1       SRI
0              118               1  0.877684
1                1               2  0.571762
2              110               1  0.856767
3                1               0  0.571762
4               55               1  0.712957
..             ...             ...       ...
134             37               1  0.665892
135             68               1  0.746948
136            120               1  0.882914
137             10               0  0.595294
138              7               0  0.587450

[139 rows x 3 columns]

In [32]:
COMP['SRI1']=Y_test

In [33]:
COMP

     batting_score  match_result.1       SRI  SRI1
0              118               1  0.877684     1
1                1               2  0.571762     2
2              110               1  0.856767     1
3                1               0  0.571762     0
4               55               1  0.712957     1
..             ...             ...       ...   ...
134             37               1  0.665892     1
135             68               1  0.746948     1
136            120               1  0.882914     1
137             10               0  0.595294     0
138              7               0  0.587450     0

[139 rows x 4 columns]